.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 22rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
  z-index: 40;
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

@media screen and (min-width: 990px) {
  .coss-dropdown-menu details[open] > .header__submenu,
  .coss-dropdown-menu details:hover > .header__submenu,
  .coss-dropdown-menu details:focus-within > .header__submenu {
    display: block;
  }

  .coss-dropdown-menu .header__submenu {
    top: 100%;
    background: rgb(var(--color-background));
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.12);
  }

  .coss-dropdown-menu .header__menu-item {
    cursor: pointer;
  }
}
